@font-face {
  font-family: "GT Super Text";
  src: url("/fonts/gt-super/GT-Super-Text-Medium.woff2") format("woff2"),
    url("/fonts/gt-super/GT-Super-Text-Medium.woff") format("woff"),
    url("/fonts/gt-super/GT-Super-Text-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "GT Super Display";
  src: url(fonts/gt-super/GT-Super-Display-Light.woff2) format("woff2"),
    url(fonts/gt-super/GT-Super-Display-Light.woff) format("woff"),
    url(fonts/gt-super/GT-Super-Display-Light.ttf) format("truetype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "GT Super Text";
  color: white;
  background: black;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  text-align: center;
}

h1 {
  font-family: "GT Super Display";
  font-weight: normal;
}

h2 {
  font-family: "GT Super Display";
  font-weight: normal;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
}

h3 {
  font-family: "GT Super Display";
  font-weight: normal;
  font-size: 2em;
  text-transform: uppercase;
}

span {
  font-family: "GT Super Display";
}

#uses {
  display: none;
}

.overlay {
  background-image: url(/jd-tex-compressed.jpg);
  background-size: cover;
  opacity: 0.5;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  mix-blend-mode: screen;
  pointer-events: none;
}

/*Navigation-----------------------------------*/

.navigation {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-family: "GT Super Text";
  line-height: 1.5;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.navigation a {
  align-self: center;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Header--------------------------------------*/

.headerbox {
  padding-top: 15rem;
  overflow: hidden;
}

.cir {
  display: none;
  width: 4rem;
  height: 4rem;
  background-color: black;
  border: 3px solid #ff4c00;
  border-radius: 100%;
  position: absolute;
}
.cir:nth-of-type(1) {
  display: block;
  top: 2rem;
  left: 2rem;
}

.cir:nth-of-type(1):before {
  display: block;
  content: "";
  width: 3.25rem;
  height: 3.25rem;
  border: 1px solid #ff4c00;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1.62rem;
  top: 50%;
  margin-top: -1.62rem;
}

.cir:nth-of-type(1):after {
  font-family: "GT Super Display";
  display: block;
  content: "XIII";
  color: #ff4c00;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.8rem;
  margin-top: -0.6rem;
}

.starburst,
.libra {
  max-width: 4rem;
}

.text {
  position: relative;
  font-family: "GT Super Display";
  text-align: center;
  align-self: center;
  color: #ff4c00;
}

h1 {
  position: relative;
  line-height: 0.8;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: -2.5px;
  font-size: 3rem;
}

.dev {
  position: absolute;
  font-family: "GT Super Text";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.75rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  top: -2em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dev:nth-of-type(2) {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(180deg);
}

.mag-cir {
  fill: #ff4c00;
  border: solid #ff4c00 3px;
  border-radius: 100%;
  background: black;
  max-height: 1200px;
  width: calc(100vw + 6rem);
  padding: 10px;
  margin-left: -3rem;
  margin-bottom: 5.5rem;
}

/*TIMELINE SECTION------------------------------*/
.timeline-list {
  list-style-type: upper-roman;
  counter-reset: timeline;
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.timeline-list-item {
  font-family: "GT Super Text";
  font-size: 1.2em;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  counter-increment: timeline;
  padding-top: 1.5rem;
  line-height: 1.2;
}

.timeline-date {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GT Super Display";
  margin-left: 1.2rem;
}

.timeline-text {
  font-size: 16px;
  margin-left: 1.2rem;
}

.timeline-list-item:before {
  font-family: "GT Super Display";
  display: flex;
  font-size: 24px;
  grid-row-end: span 2;
  place-items: center;
  color: #ff4c00;
  width: 3rem;
  height: 3rem;
  content: counter(timeline, upper-roman);
  text-align: center;
  border: 3px solid #ff4c00;
  border-radius: 100%;
  place-content: center;
  background-color: black;
}

/*Projects Section-----------------------------*/

.projects {
  text-align: center;
}

.section-header {
  position: relative;
  padding: 0 1rem;
  text-align: center;
  max-width: 28rem;
  margin: 0 auto;
}

.section-header h2 {
  border-bottom: solid #ff4c00 2px;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.projects-span,
.contact-span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
}

.projects-span::before,
.contact-span::before {
  content: "";
  display: block;
  background-image: linear-gradient(
    to bottom right,
    transparent,
    transparent 50%,
    currentColor calc(50% + 2px),
    transparent calc(50% + 4px),
    transparent 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.sigil {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1rem;
  fill: #ff4c00;
  width: 3rem;
  margin-bottom: 5rem;
}

.project-list {
  padding: 1rem;
  list-style-type: none;
  text-align: left;
}

.projects-list-item h3 {
  margin: 0;
}

.projects-list-item {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 0rem;
  margin-bottom: 3rem;
  font-size: 1em;
}

.project-link {
  color: #ff4c00;
  text-decoration: none;
  font-size: 1em;
}

.roman-cap {
  font-family: "GT Super Display";
  text-align: right;
  color: #ff4c00;
  font-size: 4em;
  width: 3.5rem;
}

/*Contact Footer----------------------------------*/

.tarot-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.tarot-back {
  display: none;
}

.tarot-front {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 100%;
}

.border {
  display: none;
  fill: #ff4c00;
}
.image {
  display: none;
}

.title {
  font-family: "GT Super Display";
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.icon {
  padding: 5px;
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
}
/*QUERIES---------------------------------- */

@media (min-width: 500px) {
  header {
    padding: 2.5rem;
    margin-bottom: 12rem;
    height: 100vh;
    max-height: 35rem;
  }

  h3 {
    font-size: 3rem;
  }

  /* HEADER SECTION 500px --------------------- */
  .headerbox {
    border: 3px solid #ff4c00;
    position: absolute;
    display: grid;
    place-items: center;
    overflow: visible;
    left: 3rem;
    right: 3rem;
    top: 3rem;
    bottom: 3rem;
    padding-top: 0;
    max-height: 30rem;
  }

  .cir:nth-of-type(1) {
    top: -2rem;
    left: -2rem;
  }

  .cir:nth-of-type(2) {
    display: block;
    top: -2rem;
    right: -2rem;
  }

  .cir:nth-of-type(5) {
    display: block;
    bottom: 8rem;
    right: -2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .dev {
    font-size: 16px;
    top: 1rem;
  }

  .dev:nth-of-type(2) {
    top: 6rem;
  }

  h1::before {
    content: "";
    display: block;
    background-image: linear-gradient(
      to bottom right,
      transparent,
      transparent 50%,
      currentColor calc(50% + 2px),
      transparent calc(50% + 4px),
      transparent 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  /* NAVIGATION SECTION 500px ------------------ */
  .navigation {
    display: inline-block;
    position: absolute;
    top: -2.5rem;
    right: 0;
  }

  .navigation a {
    position: absolute;
    padding: 0 0.75rem;
  }

  .projects-nav {
    transform: translateX(calc(-75px - 100%)) translateY(13px);
  }

  .contact-nav {
    transform: translateX(0.7em) translateY(calc(85px + 100%)) rotate(90deg);
    transform-origin: 0 0;
  }

  .mag-cir {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 24rem;
    margin: 0 auto;
    bottom: -12rem;
  }
  /* PROJECTS SECTION 500px ------------------- */
  .projects {
    text-align: center;
  }

  .project-list {
    display: inline-block;
    margin: 0 auto;
  }

  .projects-list-item {
    grid-column-gap: 2rem;
    display: flex;
    align-items: center;
  }
  /* CONTACT FOOTER 500px -------------------------- */
  .tarot-section {
    display: grid;
    place-items: center;
    grid-column-gap: 2rem;
    grid-template-columns: auto auto;
  }

  .card-link {
    display: block;
    position: relative;
    width: 200px;
    margin: 1em;
    padding: 5px;
    border: solid #ff4c00 2px;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    transform: rotateY(180deg);
  }

  .card-link:nth-child(2) {
    transition-delay: 0.2s;
  }
  .card-link:nth-child(3) {
    transition-delay: 0.4s;
  }
  .card-link:nth-child(4) {
    transition-delay: 0.6s;
  }

  .tarot-back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    fill: #ff4c00;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    padding: 5px;
  }

  .tarot-front {
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    transform: rotateY(180deg);
  }

  .inactive .card-link {
    transform: rotateY(0deg);
  }

  .border {
    display: block;
    fill: #ff4c00;
  }
  .image {
    display: block;
    z-index: -1;
    position: absolute;
    fill: white;
    top: 4rem;
    left: 14px;
    width: calc(100% - 10px);
  }

  .github {
    left: 17px;
    width: calc(100% - 15px);
  }

  .twitter {
    left: 1.5rem;
    width: calc(100% - 25px);
  }

  .codepen {
    left: 0.3rem;
    top: 5rem;
  }

  .linkedin {
    left: -3px;
    width: calc(100% + 7px);
  }

  .title {
    position: absolute;
    text-align: center;
    color: #ff4c00;
    font-size: 1rem;
    text-transform: uppercase;
    left: 0;
    right: 0;
    top: 1rem;
  }

  .icon {
    position: absolute;
    fill: #ff4c00;
    width: 35px;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (min-width: 1046px) {
  /* HEADER SECTION 1046px ------------------- */
  header {
    position: relative;
    height: 100vh;
    max-height: 40rem;
    margin-bottom: 9rem;
  }

  .headerbox {
    display: grid;
    place-items: center;
    position: absolute;
    width: calc(100% - 6.5rem);
    height: calc(100% - 5remrem);
    top: 4rem;
    bottom: 4rem;
  }

  h1 {
    font-size: 170px;
  }

  h2 {
    font-size: 4.5em;
  }

  h3 {
    font-size: 3em;
  }

  .text {
    margin-top: 4rem;
    font-size: 84px;
  }

  .dev {
    top: 5rem;
    font-size: 1rem;
  }

  .dev:nth-of-type(2) {
    top: 16rem;
  }

  .cir:nth-of-type(3) {
    display: block;
    left: -2rem;
    bottom: -2rem;
  }

  .cir:nth-of-type(4) {
    display: block;
    right: -2rem;
    bottom: -2rem;
  }

  .cir:nth-of-type(4):before {
    display: block;
    content: "";
    width: 5rem;
    height: 5rem;
    border: 1px solid #ff4c00;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    top: 50%;
    margin-top: -2.5rem;
  }

  .cir:nth-of-type(4):after {
    display: block;
    content: "";
    width: 6rem;
    height: 6rem;
    border: 3px solid #ff4c00;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3rem;
    top: 50%;
    margin-top: -3rem;
  }

  .mag-cir {
    z-index: 1;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12rem;
    margin: 0 auto;
  }
  /* TIMELINE 1046px -------------------------- */
  .timeline-list {
    position: relative;
    align-items: center;
    max-width: 25%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: -3em;
  }

  .timeline-list:before {
    position: absolute;
    display: block;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ff4c00;
    left: 50%;
    margin-left: -1.5px;
    top: 0;
    bottom: 0;
  }

  .timeline-list-item {
    grid-auto-flow: dense;
    margin-bottom: 1.5rem;
    max-width: 266px;
  }
  .timeline-date,
  .timeline-text {
    margin-right: 1.2rem;
  }
  .timeline-list-item:nth-of-type(odd) {
    transform: translateX(calc(50% - 1.5rem));
  }
  .timeline-list-item:nth-of-type(even) {
    grid-template-columns: 1fr auto;
    text-align: right;
    transform: translateX(calc(-50% + 1.5rem));
  }

  .timeline-list-item:nth-of-type(even)::before {
    grid-column: 2;
  }

  .timeline-list-item:last-of-type {
    margin: 0;
  }
  /* PROJECTS 1046px ----------------------------- */
  .projects {
    text-align: center;
  }

  .project-list {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  .projects-list-item {
    display: flex;
    max-width: 40rem;
    align-items: center;
  }

  .projects-list-item:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .roman-cap {
    font-size: 8em;
    text-align: justify;
  }

  .project-link {
    color: #ff4c00;
  }

  .project-list:before {
    position: absolute;
    display: block;
    width: 3px;
    height: 20%;
    content: "";
    background-color: #ff4c00;
    left: 50%;
    margin-left: -1.5px;
    bottom: -10em;
  }
  /* CONTACT FOOTER 1046px -------------------- */
  .tarot-section {
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    margin-bottom: 5rem;
  }
  .card-link {
    display: inline-block;
    margin: 0;
  }

  .card-link:nth-of-type(odd) {
    margin-top: 5rem;
  }
}
